@use "sass:color";
@import "reset";
@mixin bigsize {
  // je mets 600 px pour l'instant car mon écran est petit mais je veux voir le rendu
  @media only screen and (min-width: 600px) {
    @content;
  }
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.el {
  text-align: center;
}

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal
  alkalineEarthMetal actinide metalloid otherNonMetal;

$step: 360deg / length($types);

@each $type in $types {
  .el--#{$type} {
    $index: index($types, $type);
    background-color: hsl($step * $index, 80%, 80%);
  }
}
body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  @include bigsize {
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}
.el__name {
  font-size: 10px;
}
@include bigsize {
  @for $i from 1 through 18 {
    [data-group="#{$i}"] {
      grid-column: $i;
    }
  }

  .el--lanthanide {
    grid-row: 9;
  }
  .el--actinide {
    grid-row: 10;
  }
}
// entre 3 et 18
